<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true"
>



	<import resource="t1000_context.xml" />	
	
    <bean class="com.uspehgp.robotspring.MyBeanPostProcessor"/>

    <bean id="t1000Conveyor" class="com.uspehgp.robotspring.impls.conveyor.T1000Conveyor">
        <lookup-method name="createRobot" bean="t1000" />
    </bean>

    <bean id="t1000Pool" class="com.uspehgp.robotspring.impls.pool.T1000Pool">
        <property name="robotCollection">
            <list>
                <ref bean ="t1000" />

                <bean class="com.uspehgp.robotspring.impls.robot.ModelT1000" parent="baseModel" >

                    <constructor-arg value="gold" index="3" type="java.lang.String" />
                    <constructor-arg value="2020" index="4" type="int" />
                    <constructor-arg value="false" index="5" type="boolean" />
                </bean>

            </list>
        </property>
    </bean>


</beans>
